name: Test

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: sudo apt install -y xmlstarlet shellcheck
      - run: sudo snap install go --classic
      - name: Install `changelog` tool
        run: |
          mkdir -p $HOME/.local/bin
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          wget -qO- "https://github.com/cucumber/changelog/releases/download/0.10.0/changelog_0.10.0_linux_amd64.tar.gz" | tar xvz -C $HOME/.local/bin changelog
      - run: ./polyglot-release-test
  test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: Homebrew/actions/setup-homebrew@master
      - run: brew install xmlstarlet shellcheck go coreutils
      - name: Install `changelog` tool
        run: |
          mkdir -p $HOME/.local/bin
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          wget -qO- "https://github.com/cucumber/changelog/releases/download/0.10.0/changelog_0.10.0_darwin_amd64.tar.gz" | tar xvz -C $HOME/.local/bin changelog
      - run: ./polyglot-release-test
